.header{
    height: calc(100vh - 88.5px);
    background-color: #1D222A;

    &__social{
        position: fixed;
        top: 400px;
        width: 100px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__link{
            padding: 10px;
            background-color: rgb(89, 255, 0);
            display: flex;
            width: 40px;
            height: 40px;
            cursor: pointer;
           border-radius: 50%;
           display: flex;
           justify-content: center;
           align-items: center;
           transition: background-color 0.5s ease-in-out;
        }
        &__link:hover{
            background-color: #212121;
        }
        &__link svg{
            display: flex;
            width: 20px;
            height: 20px;
            fill: #1D222A;
        }
        &__item{
            margin-top: 20px;
        }
    }


    &__box{
        padding-top: 20px;
        &__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            // top: 100px;
        }
        &__list h3{
            color: white;
            font-weight: 800;
            font-size: 35px;
        }
        &__item {
            width: 500px;
        }
        &__item img{
            display: flex;
            width: 100%;
        }
        &__list h2{
            margin: 10px 0;
            font-size: 40px;
            color: white;
            font-weight: 800;
        }
        &__list p{
            color: white;
            font-size: 26px;
        }
    }

}

@media (max-width:1115px){
    .header{
        padding-bottom: 20px;
        &__box{
            padding: 0;
            margin: 0;
            &__list{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column-reverse;
                padding: 0;
            }
            // &__item{
            //     width: 90%;
            // }
            &__item h2, &__item h3 , &__item p{
                text-align: center;
            }
        }
    }
}

@media (max-width:600px){
    .header{
        &__box{
            padding: 0;
            margin: 0;
            &__list{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column-reverse;
                padding: 0;
            }
            &__item{
                width: 90%;
            }
            &__item h2{
                font-size: 25px;
            }
            &__item h3{
                font-size: 23px;
            }
            &__item p{
                font-size: 20px;
            }
            &__item h2, &__item h3 , &__item p{
                text-align: center;
            }
        }
    }
}

@media (max-width:400px){
    .header{
        height: 70vh;
    }
}